.navbarr {
  width: 270px;
  height: 100vh;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &__header {
    background-color: #3B86FF ;
    padding: 24px 15px;
    border-radius: 2px;
  }

  &__title {
    font-size: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #fff;
  }

  &__link {
    display: block;
    border-left: 4px solid transparent;
    box-shadow: transparent 0px 2px 8px 0px;
    font-size: 18px ;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 15px;
    padding-left: 11px;
    transition: all 0.4s ease;

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      color: rgba(0, 0, 0, 0.808);
      border-color: #6ba0f5;
    }
  }

  &__active {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: rgba(0, 0, 0, 0.808);
    border-color: #6ba0f5;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    position: relative;
    top: 2px;
    font-size: 24px;
    margin-right: 7px;
  }


  &__ {

  }

  &__ {

  }

  &__ {

  }

  &__ {

  }
}